html {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/img/background.jpg');
  min-height: 100%;
}
body {
  background: none;
}
.semiBG {
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
}
.headingFont {
  font-family: 'Muli';
}
.bodyFont {
  font-family: 'Lato';
}
.watchNow {
  font-size: 1.5rem;
  color: white;
}
hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -ms-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
}
a:hover {
  text-decoration: none;
  color: #ff0000;
}
a.watchNow:hover {
  color: #ff0000;
}
.border-black {
  border-color: black !important;
}
